
.forms{
    Width: 2em;
    height: 4.5em;
    width: 30vw;
    padding-left: 0;
}

.text-box{
    display: flex;
    font-size: var(--font-small);
    flex-direction: column;
    
}
.text-box__type{
    color: var(--dark-font-solid);
    font-size: var(--font-small);

    
}

.text-box__type2{
    width: 1em;
    height: 1em;
}



.card-item__items{
    display: flex;
   
}

.card-item__link {
        font-family: inherit;
        text-decoration: none;
        color: inherit;
}


.card-item__tag{
    font-size: var(--font-xsmall);
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-front-solid);
    padding: var(--spancing-8) var(--spancing-12);
    position: absolute;
    right: 0;


}

.card-item__cover img{
    animation: fade .7s;
}

.card-item__content{
    display: flex;
    flex-direction: column;
    gap: var(--spancing-12);
    padding: var(--spancing-16);
}

.card-item__licence{
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
}

.card-item__name{
    font-size: var(--font-medium);
    font-weight: 700;
    text-transform: uppercase;
}

.card-item__price{
    font-size: var(--font-small);
}

.card-item__promo{
    font-size: var(--font-xsmall);
    color: var(--secondary-solid);
    font-weight: 700;
}

.card-item__img-back, .card-item__img-front {
    max-width: 100%;
}


.card-item__img-back{
    display: none;
}

.card-item__cover:hover .card-item__img-back {
    display: block;
}

.card-item__cover:hover .card-item__img-front {
    display: none;
}

.card-item__cover{
    display: flex;
    position: relative;
   
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--spancing-12);
    font-size: var(--font-small);
  }
  
  .pagination a {
    border-color: var(--primary-solid);
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: 700;
}
  
  .pagination a.active {
    background-color: var(--primary-solid);
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active) {
    background-color: var(--primary-solid);
    border-radius: 5px;
  }
/*TABLE*/


.admin__search{
    margin-top: var(--spancing-12);
    display: flex;
    flex-direction: row;
    padding-right: var(--spancing-400);
   
}
.search__icon{
    margin-left: auto;
    align-items: center;
    
  
}
.text-box__type__admin{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-right: auto;
    width: 500px;
   height: 44px;
   color: var(--dark-font-solid);
   font-size: var(--font-medium);
  
}

.admin__table{
    
    width: 60vw;
    font-family: var(--base-font);
    font-size: var(--font-small);
    display: table;
    margin-left: 300px;
    text-align: left;
   
}
.table__header{
    width: 100%;
    width: 60vw;
    font-family: var(--base-font);
    font-size: var(--font-large);
    display: table;
    margin-left: 150px;
    
}
.title__table{
    left: 0%;
}
.table__header__img{
    right: 0%;
}

/*ANIMATIONS*/

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*MEDIA*/
 
@media screen and (min-width: 320px){
    .forms{
        width: 100%;
        padding-bottom: var(--spancing-200);
        
        
    }
    .grid{
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px){
    .grid{ 
        width: 60vw;
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .forms{
        width: 10vw;
        padding-bottom: 0%;
        
    }
    .text-box__type{
        width: 130px;
    }
    
}



@media screen and (min-width: 1024px){
    .grid{
        display: grid;
        flex-direction: row;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .text-box__type{
       width: 15vw;
    }
}

 

@media  screen and (min-width: 1440px){
    .grid {
     display: grid;
     flex-direction: row;
     gap: var(--spancing-36);
     width: 55vw;
     grid-template-columns: 1fr 1fr 1fr;
     
    }
    .forms{
    padding-top: var(--spancing-12);    
    width: 12vw;
    }
    .text-box__type{
        width: 10vw;
    }
}