     <footer class="footer">
        <section class="footer__foot">
            <ul class="foot__list foot__text-colour">
                <li><a href="/">SHOP</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="/register">REGISTRARSE</a></li>
                <li><a href="/">CONTACTO</a></li>
            </ul>
            <figure class="foot__logo">
                <a href="/"><img class="foot__logo-image" src="/img/branding/Logo.svg" alt="logotipo"></a>
            </figure>
            <p class="foot__text-colour foot__copyright">All rights reserved 2023 - Funkoshop &copy;</p>
        </section>
    </footer>
