<header class="header" id="header">
    <section class="header__container">
        <figure class="container__logo">
            <a href="/"><img class="container__logo-image" src="/img/branding/logo_light_horizontal.svg" alt="logo principal"></a>
        </figure>
        <nav class="container__nav">
            <ul class="nav__list" id="menu">
                <button class="list__close" id="menu__close">
                    <i class="bi bi-x-lg list__close-logo" alt="cerrar"></i>
                </button>
                <li class="list__item item__shop">
                    <a class="list__item-decoration item__shop-text" href="/shop">SHOP<img class="item__arrow" src="/img/icons/solapa.svg" alt=""></a>
                    <ul class="submenu">      
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Funkos</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Remeras</a>
                        </li>
                        <li class="submenu__item">
                            <a href="" class="submenu__link">Llaveros</a>
                        </li>
                    </ul>
                </li>
                <li class="list__item item__contact">
                    <a class="list__item-decoration item__contact-text" href="/">CONTACTO</a>
                </li>
                <li class="list__item item__login">
                    <a class="list__item-decoration item__login-text" href="/login">LOGIN</a>
                </li>
                <li class="list__item item__cart">
                    <a class="list__item-decoration item__cart-text" href="/carrito">CART<img class="item__cart-logo" src="/img/icons/cart-icon.svg" alt="carrito de compras"></a>
                </li>
            </ul>
            <button class="nav__hamburger" id="menu__open">
                <i class="bi bi-list hamburger__icon" alt="abrir menu"></i>
            </button>
        </nav>
    </section>
</header>