<header class="header" id="header">
    <section class="header__container">
        <figure class="container__logo">
            <a href="/"><img class="container__logo-image" src="/img/branding/logo_light_horizontal.svg" alt="logo principal"></a>
        </figure>
        <nav class="container__nav">
            <ul class="nav__list" id="menu">
                <button class="list__close" id="menu__close">
                    <i class="bi bi-x-lg list__close-logo" alt="cerrar"></i>
                </button>
                <li class="list__item item__contact">
                    <a class="list__item-decoration item__contact-text" href="/shop">VER TIENDA</a>
                </li>
                <li class="list__item item__login">
                    <a class="list__item-decoration item__login-text" href="/admin/productos">ADMIN</a>
                </li>
                <li class="list__item item__shop">
                    <a class="list__item-decoration item__shop-text" href="/logout">SALIR</a>
                </li>
            </ul>
            <button class="nav__hamburger" id="menu__open">
                <i class="bi bi-list hamburger__icon" alt="abrir menu"></i>
            </button>
        </nav>
    </section>
</header>